.form {
    text-align: right;
  }
  
  .form button {
    font: inherit;
    cursor: pointer;
    background-color: #e94200;
    border: 2px solid #f3f3f3;
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 30px;
    font-weight: bold;
  }
  
  .form button:hover,
  .form button:active {
    background-color: #47c818;
    border-color: #861a8b;
  }